
.inputTitles {
    display: flex;
    float: initial;
    justify-content: center;
    width: 200px;
    height: 20px;
    background-color: #AB2A19;
}

.imgPreview{
    
    position: unset;

}

.imgBox {
    position: center;
    display: flex;
    height:300px;
    Width:300px;
    background-color: #D34735;
}